.wrapper {

  .header {
    background-color: #fff;

    .swiper {
      padding: 30px 25px 0 25px;
      height: 300px;

      .swiper-item {
        height: 100%;

        .swiper-img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
    }

    :global {
      .van-icon--image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #fff;
      }

      .van-grid-item__text {
        margin-top: 30px;
      }
    }
  }
}
