@primary-color: #36b7ab; // 主色
@primary-color-light: #68c9c0; // 亮色
@primary-color-dark: #2b9289; // 暗色
@primary-color-bg: #d6f1ee; // 主题背景色
@primary-color-bg-light: #f4fcfb; // 主题背景色
@page-color-gray: #f5f6f9; // 子页面背景
@page-color-gray-dark: #666; // 深一点灰色
@page-color-gray-light: #e6e6e6; // 亮一点灰色
@page-color-red:  #F96F68; // 红色

// Color Palette
@black: #1a1a1a;
@white: #fff;
@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
@red: #ee0a24;
@blue: #1989fa;
@orange: #ff976a;
@orange-dark: #ed6a0c;
@orange-light: #fffbe8;
@page-back: @white;

// Font
@font-size-xs: 20px;
@font-size-sm: 24px;
@font-size-md: 28px;
@font-size-lg: 32px;
@font-weight-bold: 500;
@line-height-xs: 28px;
@line-height-sm: 36px;
@line-height-md: 40px;
@line-height-lg: 44px;
@base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
'Microsoft Yahei', sans-serif;
@price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial,
sans-serif;

// Padding
@padding-base: 8px;
@padding-xs: @padding-base * 2;
@padding-sm: @padding-base * 3;
@padding-md: @padding-base * 4;
@padding-lg: @padding-base * 6;
@padding-xl: @padding-base * 8;


// 卡片阴影
.card-shadow() {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 10px -15px #e6e6e6;
}

// 布局
.wrapper-normal() {
  display: flex;
  flex-direction: column;
}
